[submodule "shared/src/thirdparty/bsf"]
	path = shared/src/thirdparty/bsf
	url = https://github.com/dumheter/bsf
[submodule "shared/src/thirdparty/alflibcpp"]
	path = shared/src/thirdparty/alflibcpp
	url = https://github.com/Alfret/AlfLibCpp
[submodule "shared/src/thirdparty/dlog"]
	path = shared/src/thirdparty/dlog
	url = https://github.com/dumheter/dlog
[submodule "shared/src/thirdparty/tinyspline"]
	path = shared/src/thirdparty/tinyspline
	url = https://github.com/msteinbeck/tinyspline
[submodule "shared/src/thirdparty/stb"]
	path = shared/src/thirdparty/stb
	url = https://github.com/nothings/stb
