# Project
.vs/
out/
*.user
*.asset
runtime/Data/
editor/Data/

# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe
*.out
